<h1>Hello Notes!</h1>

<%= link_to 'Create new note', new_note_path %>



<ul class="notes">
  <% @notes.each do |note| %>
  <li>
    <h3><%= note.title %></h3>
    <p><%= link_to 'Show Note', note_path(note) %></p>
  </li>
  <% end %>
</ul>
