
<h3 class="f-note-title"><%= @note.title %></h3>

<nav class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li><%= link_to '✎', edit_note_path(@note), title: "Edit note" %></li>
    <li><%= link_to '✗', note_path(@note), title: "Delete note",
              method: :delete, data: { confirm: 'Do you really want to delete this note?' } %></li>
  </ul>
</nav>

<p class="f-note-content">
  <%= markdown @note.content %>
</p>
